<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

 <title>{% block title %}Feedback{% endblock %}</title>
 {% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<body>
<div>
    <form action="{% url 'feedback:vote' suggestion.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ suggestion.suggestion_box }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in suggestion.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>
 </div>
</body>
</html>