{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
<h1>About us</h1>
<h2>CAIRDEPOOL</h2>
<h3>We are more than a Carpool, we are <b>together</b> in the battle for a greener world! </h3>
<p> Join us for this adventure</p>
    <div>
       <h2>Why share?</h2>
        <div>
           <p>
               <b>
                   <i>
                       Because together we are stronger!
                   </i>
               </b>
           </p>
        </div>

    </div>

</body>
</html>