{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}
{#    If the user is authenticated say: hi userName #}
{#    and give the option for the user logout or reset password,#}
{#    else, if user is not authenticated show the login option#}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
     <p><a href="{% url 'logout' %}">Log Out</a></p>
     <p><a href="{% url 'password_reset' %}">Reset Password</a></p>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


   <h1>{{ my_object_welcome }}</h1>
    <h3>{{ my_mission_object }}</h3>

    <div>
{#    <form>#}
{#        <label>name</label>#}
{#    <input/>#}
{#    <button>Button</button>#}
{#    </form>#}
    </div>

{% endblock %}

