{% extends "base.html" %}

{% block title %} My Offers {% endblock %}

{% block content %}

    <h1> MY OFFERS:</h1>
    <br>

    {% if post_offer_list %}
    {% for postOffers in post_offer_list %}

        <h3>{{ postOffers.text_origin }}</h3>
        <h3>{{ postOffers.text_destination }}</h3>
        <h3>{{ postOffers.text_date }}</h3>
        <H3>{{ postOffers.text_time }}</H3>
        <br>

    {% endfor %}
    {% else %}

    Hi {{ user.username }}!

    <h3>You don't have any offers!</h3>
    {% endif %}

    <br>
{#    delete button: to delete all requests done by the user:  #}
    <div>
     <a href="{% url 'carpool:deleteOffers' user.id %}" role="button"  class="btn btn-primary" > DELETE </a>
    </div>
    </form>

{% endblock %}