{% extends "base.html" %}

{% block title %} My Offers {% endblock %}

{% block content %}
     <h1> MY OFFERS:</h1>
    <br>

    <div class="card" style="width: 20rem;">
      <div class="card-body">
         {% if post_offer_list %}
           {% for postOffers in post_offer_list %}
                 <h4>To: {{ postOffers.text_destination }}</h4>
                 <h4>From: {{ postOffers.text_origin }}</h4>
                 <h4>{{ postOffers.text_date }}</h4>
                 <H4>{{ postOffers.text_time }}</H4>
                  <br>
           {% endfor %}

             <p class="card-text">Delete offer?</p>

          {# delete button: to delete all offers done by the user:  #}
        <div>
        <a href="{% url 'carpool:deleteOffers' user.id %}" role="button"  class="btn btn-primary" > DELETE </a>
        </div>

            {% else %}

              <h5><b>Hello {{ user.username }} </b></h5>

             <h4>You don't have any offers!</h4>
             <br>
              <div>
              <a href="{% url 'carpool:offer' user.id %}" role="button"  class="btn btn-primary" > Create Offer  </a>
              </div>
         {% endif %}

     </div>
    </div>

{% endblock %}

