{#this is  the html page to visualize the requests created by the user#}
{#if the user has post display it, otherwise tell the user that he doesn't have any requests!#}
{% extends "base.html" %}

{% block title %} My Requests {% endblock %}

{% block content %}
     <h1> MY REQUESTS:</h1>
    <br>

    <div class="card" style="width: 20rem;">
      <div class="card-body">
         {% if post_list %}
           {% for postOffers in post_list %}
                 <h4>To: {{ postOffers.text_destination }}</h4>
                 <h4>From: {{ postOffers.text_origin }}</h4>
                 <h4>{{ postOffers.text_date }}</h4>
                 <H4>{{ postOffers.text_time }}</H4>
                  <br>
           {% endfor %}

             <p class="card-text">Delete requests?</p>

          {# delete button: to delete all offers done by the user:  #}
        <div>
        <a href="{% url 'carpool:delete' user.id %}" role="button"  class="btn btn-primary" > DELETE </a>
        </div>

            {% else %}

              <h5><b>Hello {{ user.username }} </b></h5>

             <h4>You don't have any requests!</h4>
             <br>
              <div>
              <a href="{% url 'carpool:post' user.id %}" role="button"  class="btn btn-primary" > Create Request  </a>
              </div>
         {% endif %}

     </div>
    </div>

{% endblock %}

